*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#particles-js
{
	width: 100%;
	height: 100%;
	
}
.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span 
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;

}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover 
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}
h1
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	color: white;
}

body{ 
	background-color:black !important;
	height: 100%;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}